In [1]:
import pandas as pd
import numpy as np

In [2]:
sample_submission = pd.read_csv("../input/sample_submission.csv")

In [3]:
sample_submission.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [6]:
submission = pd.read_csv("../output/submission.csv")
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  4277 non-null   object
 1   Transported  4277 non-null   int64
dtypes: int64(1), object(1)
memory usage: 67.0+ KB

In [11]:
submission['Transported'] = submission['Transported'].astype("bool")
submission.to_csv("../output/submission.csv", index =False)

In [12]:
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01         True
4274     9271_01         True
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]