# Movie Recommendation System

## Cel projektu

- Zbudowanie systemu rekomendacji filmów na podstawie ocen użytkowników.
- Wykorzystanie SQL do analizy danych i Python do implementacji modelu rekomendacji.

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt
%load_ext sql

## Wczytywanie danych

In [5]:
tmdb_5000_movies = pd.read_csv("../input/tmdb_5000_movies.csv")
tmdb_5000_credits = pd.read_csv("../input/tmdb_5000_credits.csv")

### Analiza struktury danych

In [ ]:
def info_column(data):
    for x in range(len(data.columns)):
        column = data.columns[x]
        print(f"***{column}***")
        print(data[column].value_counts())
        print("__"*10)
        print('')
info_column(tmdb_5000_movies)

#### tmdb_5000_movies

In [11]:
tmdb_5000_movies.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
tmdb_5000_movies.head()

##### budget

In [ ]:
Wartości nie sa duze wiec zastosuje wartosc INTEGER

In [13]:
tmdb_5000_movies['budget'].value_counts()

budget
0           1037
20000000     144
30000000     128
25000000     126
40000000     123
            ...
13200000       1
14350531       1
3100000        1
12800000       1
9000           1
Name: count, Length: 436, dtype: int64

##### genres

In [ ]:
wartosc jest zapisana w rozszerzeniu JSON dlatego zapisze ja w formacie JSONB

In [18]:
tmdb_5000_movies['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [22]:
tmdb_5000_movies['genres'].isnull().sum()

0

##### homepage

Sa to linki do stron filmów zapiszeje jako TEXT i mozliwoscia NULL

In [20]:
tmdb_5000_movies["homepage"]

0                             http://www.avatarmovie.com/
1            http://disney.go.com/disneypictures/pirates/
2             http://www.sonypictures.com/movies/spectre/
3                      http://www.thedarkknightrises.com/
4                    http://movies.disney.com/john-carter
                              ...
4798                                                  NaN
4799                                                  NaN
4800    http://www.hallmarkchannel.com/signedsealeddel...
4801                          http://shanghaicalling.com/
4802                                                  NaN
Name: homepage, Length: 4803, dtype: object

In [24]:
tmdb_5000_movies['homepage'].isnull().sum()

3091

In [32]:
tmdb_5000_movies['homepage'].value_counts()

homepage
http://www.missionimpossible.com/                       4
http://www.thehungergames.movie/                        4
http://www.kungfupanda.com/                             3
http://www.transformersmovie.com/                       3
http://www.thehobbit.com/                               3
                                                       ..
http://www.ridealong.com/                               1
http://www.theinternmovie.com/                          1
http://www.miramax.com/movie/the-talented-mr-ripley/    1
http://www.julieandjulia.com/                           1
http://shanghaicalling.com/                             1
Name: count, Length: 1691, dtype: int64

##### id

Kolumna id bedzie kluczem głównym, id INTEGER PRIMARY KEY

In [58]:
tmdb_5000_movies['id']

0        19995
1          285
2       206647
3        49026
4        49529
         ...
4798      9367
4799     72766
4800    231617
4801    126186
4802     25975
Name: id, Length: 4803, dtype: int64

In [38]:
tmdb_5000_movies['id'].value_counts()

id
19995     1
333355    1
71157     1
43418     1
11588     1
         ..
13156     1
293863    1
16871     1
307081    1
25975     1
Name: count, Length: 4803, dtype: int64

##### keywords

In [ ]:
wartosc jest zapisana w rozszerzeniu JSON dlatego zapisze ja w formacie JSONB

In [146]:
tmdb_5000_movies['keywords'].head()

0    [{"id": 1463, "name": "culture clash"}, {"id":...
1    [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2    [{"id": 470, "name": "spy"}, {"id": 818, "name...
3    [{"id": 849, "name": "dc comics"}, {"id": 853,...
4    [{"id": 818, "name": "based on novel"}, {"id":...
Name: keywords, dtype: object

In [150]:
tmdb_5000_movies['keywords'].isnull().sum()

0

##### original_language

kolumna zawiera skrót jezyka w który jest film, VARCHAR(2)

In [42]:
tmdb_5000_movies['original_language'].value_counts()

original_language
en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [44]:
tmdb_5000_movies['original_language'].isnull().sum()

0

In [54]:
tmdb_5000_movies[tmdb_5000_movies['original_language'] == 'pl']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3999,2159280,"[{""id"": 18, ""name"": ""Drama""}]",NaN,209274,"[{""id"": 745, ""name"": ""nun""}, {""id"": 1960, ""nam...",pl,Ida,"Poland, 1962. Anna is a novice, an orphan brou...",13.265432,"[{""name"": ""Danish Film Institute"", ""id"": 125},...","[{""iso_3166_1"": ""DK"", ""name"": ""Denmark""}, {""is...",2013-10-25,10700000,80.0,"[{""iso_639_1"": ""pl"", ""name"": ""Polski""}]",Released,NaN,Ida,7.1,260

##### original_title

jest to kolumna z nazwą filmu, zapiszeje jako TEXT poniwaz ma rózna długość

In [46]:
tmdb_5000_movies['original_title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4803, dtype: object

In [48]:
tmdb_5000_movies['original_title'].isnull().sum()

0

##### overview

In [154]:
tmdb_5000_movies['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [156]:
tmdb_5000_movies['overview'].isnull().sum()

3

##### popularity

kolumna zawiera liczby zmienno przecinkowe, zastosuje typ danych FLOAT

In [52]:
tmdb_5000_movies['popularity'].head()

0    150.437577
1    139.082615
2    107.376788
3    112.312950
4     43.926995
Name: popularity, dtype: float64

In [60]:
tmdb_5000_movies['popularity'].isnull().sum()

0

##### production_companies

kolumna jest napisana w formacie JSON

In [62]:
tmdb_5000_movies['production_companies'].head()

0    [{"name": "Ingenious Film Partners", "id": 289...
1    [{"name": "Walt Disney Pictures", "id": 2}, {"...
2    [{"name": "Columbia Pictures", "id": 5}, {"nam...
3    [{"name": "Legendary Pictures", "id": 923}, {"...
4          [{"name": "Walt Disney Pictures", "id": 2}]
Name: production_companies, dtype: object

In [64]:
tmdb_5000_movies['production_companies'].isnull().sum()

0

##### production_countries

kolumna jest napisana w formacie JSON zastosuje typ danych JSONB

In [66]:
tmdb_5000_movies['production_countries'].head()

0    [{"iso_3166_1": "US", "name": "United States o...
1    [{"iso_3166_1": "US", "name": "United States o...
2    [{"iso_3166_1": "GB", "name": "United Kingdom"...
3    [{"iso_3166_1": "US", "name": "United States o...
4    [{"iso_3166_1": "US", "name": "United States o...
Name: production_countries, dtype: object

##### release_date

kolumna jest zapisane jako data zastosuje typ danych DATA poniewaz dane zapisane sa w formacie YYYY-MM-DD

In [68]:
tmdb_5000_movies['release_date'].head()

0    2009-12-10
1    2007-05-19
2    2015-10-26
3    2012-07-16
4    2012-03-07
Name: release_date, dtype: object

##### revenue

Są to duze liczbycałkowite zastosuje typ danych BIGINT

In [70]:
tmdb_5000_movies['revenue'].head()

0    2787965087
1     961000000
2     880674609
3    1084939099
4     284139100
Name: revenue, dtype: int64

In [72]:
tmdb_5000_movies['revenue'].isnull().sum()

0

##### runtime

zastosuje typ danych FLOAT z mozliwoscia pustych miejsc NULL

In [76]:
tmdb_5000_movies['runtime'].head()

0    162.0
1    169.0
2    148.0
3    165.0
4    132.0
Name: runtime, dtype: float64

In [78]:
tmdb_5000_movies['runtime'].max()

338.0

In [80]:
tmdb_5000_movies['runtime'].isnull().sum()

2

##### spoken_languages

In [ ]:
kolumna jest zapisana w formacie JSON, zastosuje typ danych JSONB

In [82]:
tmdb_5000_movies['spoken_languages'].head()

0    [{"iso_639_1": "en", "name": "English"}, {"iso...
1             [{"iso_639_1": "en", "name": "English"}]
2    [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3             [{"iso_639_1": "en", "name": "English"}]
4             [{"iso_639_1": "en", "name": "English"}]
Name: spoken_languages, dtype: object

In [84]:
tmdb_5000_movies['spoken_languages'].isnull().sum()

0

##### status

zastosuje typ danych tekst z maksymalnym limite znaków VARCHAR(20)

In [88]:
tmdb_5000_movies['status'].head()

0    Released
1    Released
2    Released
3    Released
4    Released
Name: status, dtype: object

In [90]:
tmdb_5000_movies['status'].value_counts()

status
Released           4795
Rumored               5
Post Production       3
Name: count, dtype: int64

In [92]:
tmdb_5000_movies['status'].isnull().sum()

0

##### tagline

In [ ]:
kolumna to tekst, zastosuje typ danych TEXT

In [104]:
tmdb_5000_movies['tagline'].head()

0                       Enter the World of Pandora.
1    At the end of the world, the adventure begins.
2                             A Plan No One Escapes
3                                   The Legend Ends
4              Lost in our world, found in another.
Name: tagline, dtype: object

##### title

In [160]:
tmdb_5000_movies['title'].head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: title, dtype: object

In [162]:
tmdb_5000_movies['title'].isnull().sum()

0

##### vote_average

In [ ]:
koumna zawiera liczby zmienno przecinkowe  zastosuje typ danych FLOAT

In [106]:
tmdb_5000_movies['vote_average'].head()

0    7.2
1    6.9
2    6.3
3    7.6
4    6.1
Name: vote_average, dtype: float64

In [108]:
tmdb_5000_movies['vote_average'].isnull().sum()

0

##### vote_count

In [112]:
tmdb_5000_movies['vote_count'].head()

0    11800
1     4500
2     4466
3     9106
4     2124
Name: vote_count, dtype: int64

In [114]:
tmdb_5000_movies['vote_count'].isnull().sum()

0

#### tmdb_5000_credits

In [118]:
tmdb_5000_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

##### movie_id

kolumna która bedzie zawiera klucz obcy i bedzie połaczona z kolumna id

In [120]:
tmdb_5000_credits['movie_id'].head()

0     19995
1       285
2    206647
3     49026
4     49529
Name: movie_id, dtype: int64

In [124]:
tmdb_5000_credits['movie_id'].value_counts()

movie_id
19995     1
333355    1
71157     1
43418     1
11588     1
         ..
13156     1
293863    1
16871     1
307081    1
25975     1
Name: count, Length: 4803, dtype: int64

In [122]:
tmdb_5000_credits['movie_id'].isnull().sum()

0

##### title

In [ ]:
Kolumna jest tytułem o zmiennej długosci zatos

In [126]:
tmdb_5000_credits['title'].head()

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: title, dtype: object

In [128]:
tmdb_5000_credits['title'].isnull().sum()

0

##### cast

kolumna jest zapisana w formacie JSON, zastosuje typ danych JSONB

In [130]:
tmdb_5000_credits['cast'].head()

0    [{"cast_id": 242, "character": "Jake Sully", "...
1    [{"cast_id": 4, "character": "Captain Jack Spa...
2    [{"cast_id": 1, "character": "James Bond", "cr...
3    [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4    [{"cast_id": 5, "character": "John Carter", "c...
Name: cast, dtype: object

In [134]:
tmdb_5000_credits['cast'].isnull().sum()

0

##### crew

kolumna jest zapisana w formacie JSON, zastosuje typ danych JSONB

In [132]:
tmdb_5000_credits['crew'].head()

0    [{"credit_id": "52fe48009251416c750aca23", "de...
1    [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    [{"credit_id": "54805967c3a36829b5002c41", "de...
3    [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4    [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
Name: crew, dtype: object

In [136]:
tmdb_5000_credits['crew'].isnull().sum()

0

### Analiza Bazy Danych

In [17]:
#conn = create_engine("postgres:///../output/Movie_Recommendation_System.sql")
#conn = create_engine("postgresql://postgres:admin@localhost/5432/Movie_Recommendation_System")


from sqlalchemy import create_engine
 
engine = create_engine('postgresql+psycopg2://user:password\
@hostname/database_name')

import psycopg2

# declare the connection string specifying
# the host name database name use name 
# and password
conn_string = "host='localhost' dbname='Movie_Recommendation_System'\
user='postgres' password='admin'"

# use connect function to establish the connection
conn = psycopg2.connect(conn_string)


def __sql(sql):
    return pd.read_sql(sql, conn)

OperationalError: could not translate host name "host_name" to address: Nieznany host.

In [15]:
__sql("""
SELECT 
    *
FROM tmdb_5000_movies
LIMIT 10
    
""")

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: KATASTROFALNY:  baza danych "5432/Movie_Recommendation_System" nie istnieje

(Background on this error at: https://sqlalche.me/e/20/e3q8)